<launch>
  <node pkg="nuitrack_body_tracker" type="nuitrack_body_tracker_node" name="nuitrack_body_tracker_node" output="screen">
      
    <param name="camera_depth_frame" value="nuitrack_camera_link"/>
    <param name="camera_color_frame" value="nuitrack_camera_link"/> 
 
  </node>
<!-- 
  <arg name="rvizconfig" default="$(find nuitrack_body_tracker)/rviz/marker.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
</launch>

